@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navBarWidth : 300px;
}

@layer base{
  input {
    @apply block my-4 bg-slate-350 dark:bg-slate-500
  }
  a {
    @apply flex justify-center items-center w-full h-full
  }
}


@layer components {

  .titleBarText {
    @apply text-5xl mx-2.5 md:text-5xl md:mx-3.5
  }

  .loginPaneFooter span{
    @apply block hover:underline hover:cursor-pointer
  }

  .userMenu.active {
    @apply w-screen md:w-[var(--navBarWidth)]
  }

  .clickDisableOverlay.active {
    @apply md:visible md:w-[calc(100vw-var(--navBarWidth))] md:left-[var(--navBarWidth)]
  }

  .viewSentFiles.responsive {
    @apply flex w-full h-full
  }
  
  .sendFiles.responsive {
    @apply hidden
  }
}


html,body {
  height: 100%;
  margin: 0;
}

